.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
}

.contact-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-cards {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
}
