.skill-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
  padding-top: 120px;
  padding-bottom: 50px;
}

.skill-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
