.skill-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 120px 20px 50px;
  width: 100%;
}

.skill-heading {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  justify-items: center; 
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tablet */
@media (max-width: 768px) {
  .skill-section {
    padding-top: 100px;
    padding: 0px 50px;
    padding-bottom: 40px;
  }

  .skill-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .skill-section {
    padding: 80px 15px 30px;
  }

  .skill-cards {
    padding: 0px 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .skill-heading {
    margin-bottom: 15px;
  }
}